{% extends 'base.html' %}
{% load i18n extra %}

{% block content %}
{% include 'topnavbar.html' %}
{% include 'searchnavbar.html' %}
<!-- small nav -->
<div class="container">
	<div class="row my-4 bg-faded" id="smallnav">
		<nav> 
			<a href="{% url 'dormrent:index'%}">{% trans 'Home' %}</a> >
			<a href="{% url 'dormrent:apartlist' %}">{% trans 'List' %}</a> >
			{% if city %}
			<a href="{% url 'dormrent:apartlist' city=city %}">{{city}}</a> >
			{% endif %}
			{% if universityobject %}
			{{universityobject.title}} 
			<a href="{% url 'dormrent:list' %}?university={{universityobject.title}}, {{universityobject.city}}" title="{% trans 'map view' %}"><i class="fa fa-map"></i></a>
			{% endif %}
		</nav>
	</div>

	<div class="row">

	<div class="col-12">

		{% if cities %}
		<h2>{% trans 'cities' %}</h2>

		<ul>
			{% for city in cities %}
				<li class="col-12"><a href="{% url 'dormrent:apartlist' city=city %}">{{city}}</a></li>
			{% endfor %}
		</ul>
		{% endif %}

	</div>

		{% if universities %}
			<div class="col-12">
			<h2>{% trans 'universities' %}</h2>
						<ul>
					{% for university in universities %}
						<li class="col-12"><a href="{% url 'dormrent:apartlist' city=university.city university=university.slug %}">{{university.title}}</a></li>
					{% endfor %}
					</ul>
				
			</div>
		{% endif %}

		{% if apartlist %}
			<div class="col-md-9">
			<h2>{% trans 'properties' %}</h2>
			{% if not request.GET.q %}
			<form id="sorbyform" method="GET" action="">
				<div class="input-group">
					<select id="sortbyselect" name='sortby' class="form-control">
						<option selected hidden> {% trans 'Sort By'%}</option>
						<option value='starlevel'>{% trans 'rating' %} &#8593</option>
						<option value="-starlevel">{% trans 'rating' %} &#8595</option>
						<option value="title">{% trans 'name' %} &#8593</option>
						<option value='-title'>{% trans 'name' %} &#8595</option>
					</select>
				</div>
			</form>
			<script type="text/javascript">
				$('#sortbyselect').change(function(){
					$("#sorbyform").submit();
				})
			</script>
			{% endif %}


			<table class="table table-striped">
	    		<tbody>
	    			{% for apart in apartlist %}
	    			<tr>
	    			<th scope="row"> {{forloop.counter}}</th>
					<td>{% include 'dormrent/snippets/singleapartlist.html' with apart=apart %}</td>
	    			</tr>
	    			{% endfor %}
	    		</tbody>
	    	</table>
	    	</div>

	    	<div class="col-md-3">
	    	
	    		<div id="map" style="height: 200px"></div>

	    		<a href="{% url 'dormrent:list' %}?university={{universityobject.title}}, {{universityobject.city}}">{% trans 'Map View' %}</a>
	    		
	    	</div>
			<script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyCcdmdG9ePdOCuyTdjPH3U91mE7B6pUwdI&language={{LANGUAGE_CODE}}"></script>
	    	<script type="text/javascript">
				var position = {lat:changenumberformat('{{universityobject.universitygate_set.all.0.location.y}}'), lng: changenumberformat('{{universityobject.universitygate_set.all.0.location.x}}')};

				var map = new google.maps.Map(document.getElementById('map'), {
			        	gestureHandling: 'cooperative',
			        	zoom: 14,
			        	center: position,
			        });
				
	    	</script>

		{% endif %}

		
	</div>

</div>


{% endblock %}

<script type="text/javascript">
	{% block script %}
// $('.universitylistshow').each(function(){
// 	$(this).next('ol').hide();
// })
$('.universitylistshow').click(function(){
	$(this).next('ol').toggle();
})


	{% endblock %}

</script>