{% load static i18n extra %}

<div class="container-fluid">
    <div class="row">
        <div style="width: 200px;">
        {% if apart.iconpic %}
            <img  src={{apart.iconpic.url}} alt={{apart.title}} width="100%">
        {% else %}
            <img src="{% static 'img/logo_thumb.jpg' %}" alt="logo image" width="100%">
        {% endif %}
        </div>
        <div class="col-6">           
            <a href="{% url 'dormrent:detail' apart.slug %}">{{ apart.title }}</a> <br>
            {{apart.starlevel|ratingstar|safe}}
             {{apart.starlevel}}/5  ({{apart.comment_set.all|length}}  {% trans 'comments' %})
        </div>
    </div>
</div> 