{% load i18n %}
<div class="input-group">
	<select name='sortby' class="form-control">
		<option selected hidden> {% trans 'Sort By'%}</option>
		<option value='starlevel'>{% trans 'rating' %} &#8593</option>
		<option value="-starlevel">{% trans 'rating' %} &#8595</option>
		<option value="title">{% trans 'name' %} &#8593</option>
		<option value='-title'>{% trans 'name' %} &#8595</option>
	</select>
	<span class="input-group-btn" style="display: none;">
		<button id="sortbybutton" class="btn btn-secondary" id="sortsubmit" type="submit">Go</button>
	</span>
</div>

<script type="text/javascript">
	
	
</script>