{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block content %}
{% include 'topnavbar.html' %}

<div class="container">
<form method="POST" action="">
    {{ form.media }}
    {% crispy form %}
    <button class="btn btn-secondary" type="submit"> {% trans 'SAVE' %} </button>
</form>
</div>

{% endblock %}

<script type="text/javascript">
{% block script %}
$('#div_id_roomtype label.checkbox').each(function(){
	$(this).addClass('col-md-4 my-2');
})

$('#div_id_apartfeatures label.checkbox').each(function(){
	$(this).addClass('col-sm-4 col-md-3 my-2');
})


{% endblock %}
</script>