{% extends 'base.html' %}
{% load static %}

{% block title%}
Comparison page
{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<h1>Comparison page</h1>

<div class="sticky-top container">
<div id="map-canvas" style="height: 300px;" >	
</div>
</div>

<div class="container">
<div class="row">
<div class="card-group mt-3">
{% for apart in apartlist %}
  <div class="card apartlist">
    <img class="card-img-top img-thumbnail" src="{%if apart.iconpic %}{{apart.iconpic.url }}{% endif %}" alt="{{apart.title}} icon picture">
    <div class="card-block">
      <h4 class="card-title">{{forloop.counter}}, {{apart.title}} <a href="{% url 'detail' apart.slug %}"> >> </a></h4> 

      {% with ''|center:apart.starlevel as range %}
			{% for _ in range %}
				<i class="fa fa-star" style="color: orange;"></i>
			{% endfor %}
			{% endwith %}

	({{apart.comment_set|length}} comments) <br>
	<i class="fa fa-phone"></i>: {{apart.phonenumber}} <br>
	<i class="fa fa-envelope"></i>: {{ apart.email}}

      <a href="{{apart.officalweblink}}"><i class="fa fa-globe"></i></a>
      <a href="{{apart.facebooklink}}"><i class="fa fa-facebook"></i></a>
    </div>

      <ul class="list-group list-group-flush">
      <li class="list-group-item"> Gender: {{apart.gender}}
      </li>

      <li class="list-group-item">
      {{apart.NumberOfPeoplePerRoom}} <small>persons per room </small>, {{apart.Numberofrooms}} <small>rooms</small>,
      {{apart.Roomsperbath}} <small>rooms per bath</small> </li>
      <li class="list-group-item">
      Features:
          {% for feature in apart.apartfeatures.all %}
          {{feature.name}},
          {% endfor %}
      </li>
      <li class="list-group-item"> <small>Cleaning </small> weekly</li>

      </ul>
  </div>
{% endfor %}
</div>
</div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key={{googleapikey}}"></script>

{% include 'footer.html' %}
{% endblock %}

<script type="text/javascript">
	{% block script %}

    var apartmarkers=[];


    function initialize() {
        var map = new google.maps.Map(document.getElementById('map-canvas'), {
        	gestureHandling: 'cooperative',
        });
        var bounds = new google.maps.LatLngBounds();
        var infowindow1 = new google.maps.InfoWindow();
        function addMarker(lat, lng, title, label, content) {
            var position = new google.maps.LatLng(lat, lng);
            var marker = new google.maps.Marker({
                position: position,
                map: map,
                title: title,
                label: label,
            });
            var infowindow = new google.maps.InfoWindow({
            	content: content,
            	maxwidth: 20,
            })
            marker.addListener('click', function(){
            	//infowindow.open(map,marker)
            	infowindow1.setContent(content);
            	//infowindow1.setPosition(position);
            	infowindow1.open(map,this);
            })
            bounds.extend(position);
            apartmarkers.push(marker);

        }

        function addGateMarker(lat,lng,title) {
            var position = new google.maps.LatLng(lat, lng);
            var marker = new google.maps.Marker({
                position: position,
                map: map,
                title: title,
                //labelContent: '<i class="fa fa-camera-retro"></i>',
                icon: {
                    path: fontawesome.markers.UNIVERSITY,
                    scale: 0.5,
                    strokeWeight: 0.2,
                    strokeColor: 'black',
                    strokeOpacity: 1,
                    fillColor: '#f8ae5f',
                    fillOpacity: 0.7,
                }
            });
        }
        var apartcontent;
        {% for poi in apartlist %}
          apartcontent = '<a href="{{poi.officalweblink}}">{{ poi.title }}</a> <br>{{ poi.description}}'

            addMarker({{ poi.location2.y }}, {{ poi.location2.x }}, "{{ poi.title }}", "{{forloop.counter}}", apartcontent);

        {% endfor %}

        {% for gate in gatelist %}
            addGateMarker({{ gate.location.y }}, {{ gate.location.x }}, "{{ gate.title }}");
        {% endfor %}
        map.fitBounds(bounds);
    }
    google.maps.event.addDomListener(window, 'load', initialize);

$('.apartlist').hover(
    function() {
        var idx = $(this).index();
        //apartmarkers[idx].setIcon('http://maps.google.com/mapfiles/kml/pal2/icon5.png');
        apartmarkers[idx].setAnimation(google.maps.Animation.BOUNCE);

    },
    function() {
        var idx = $(this).index();   
             //apartmarkers[idx].setIcon('http://maps.google.com/mapfiles/kml/pal2/icon5.png');
        apartmarkers[idx].setAnimation(null);
    }
    )


	{% endblock %}
</script>