{% extends 'base.html' %}
{% load static %}

{% block title%}
Comparison page
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<h1>Comparison page</h1>

<div id="map-canvas" style="height: 300px;">	
</div>

<div class="card-group">
{% for apart in apartlist %}
  <div class="card">
    <img class="card-img-top" src="{{apart.iconpic.url }}" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{apart.title}}, {{apart.starlevel }}</h4> <a href="{{apart.officalweblink}}">Link</a>
      <p class="card-text">{{ apart.description }}</p>
    </div>

      <ul class="list-group list-group-flush">
      <li class="list-group-item"> Gender: {{apart.gender}} </li>
      <li class="list-group-item"> Contact: {{apart.phonenumber}}, {{apart.email}} </li>
      <li class="list-group-item"> Numbers:{{apart.NumberOfPeoplePerRoom}}, {{apart.Numberofrooms}},{{apart.Roomsperbath}} </li>
      <li class="list-group-item">
      Features:
          {% for feature in apart.apartfeatures.all %}
          {{feature.name}},
          {% endfor %}
      </li>

      </ul>
  </div>
{% endfor %}
</div>


<script src="https://maps.googleapis.com/maps/api/js?v=3&key={{googleapikey}}"></script>

{% endblock %}

<script type="text/javascript">
	{% block script %}

    var apartmarkers=[];


    function initialize() {
        var map = new google.maps.Map(document.getElementById('map-canvas'));
        var bounds = new google.maps.LatLngBounds();
        var infowindow1 = new google.maps.InfoWindow();
        function addMarker(lat, lng, title, label, content) {
            var position = new google.maps.LatLng(lat, lng);
            var marker = new google.maps.Marker({
                position: position,
                map: map,
                title: title,
                label: label,
            });
            var infowindow = new google.maps.InfoWindow({
            	content: content,
            	maxwidth: 20,
            })
            marker.addListener('click', function(){
            	//infowindow.open(map,marker)
            	infowindow1.setContent(content);
            	//infowindow1.setPosition(position);
            	infowindow1.open(map,this);
            })
            bounds.extend(position);
        }

        function addGateMarker(lat,lng,title) {
            var position = new google.maps.LatLng(lat, lng);
            var marker = new google.maps.Marker({
                position: position,
                map: map,
                title: title,
                //labelContent: '<i class="fa fa-camera-retro"></i>',
                icon: {
                    path: fontawesome.markers.UNIVERSITY,
                    scale: 0.5,
                    strokeWeight: 0.2,
                    strokeColor: 'black',
                    strokeOpacity: 1,
                    fillColor: '#f8ae5f',
                    fillOpacity: 0.7,
                }
            });
        }
        var apartcontent;
        {% for poi in apartlist %}
          apartcontent = '<a href="{{poi.officalweblink}}">{{ poi.title }}</a> <br>{{ poi.description}}'

            addMarker({{ poi.location2.y }}, {{ poi.location2.x }}, "{{ poi.title }}", "{{forloop.counter}}", apartcontent);
        {% endfor %}

        {% for gate in gatelist %}
            addGateMarker({{ gate.location.y }}, {{ gate.location.x }}, "{{ gate.title }}");
        {% endfor %}
        map.fitBounds(bounds);
    }
    google.maps.event.addDomListener(window, 'load', initialize);

	{% endblock %}
</script>