{% extends 'base.html' %}
{% load static %}
<style type="text/css">
{% block style%}
.jumbotron {
    height: 100vh;
}

{% endblock %}
</style>


{% block content %}

<div class="jumbotron text-center bg-info">

    {% include 'navbar.html' %}

    <h1 style="line-height: 5rem;">Find the apartment perfect for you!</h1>

    <input list="universitylist" class="mt-4" placeholder="university, City" name="university">
    <datalist id="universitylist">
    	{% for university in universitylist %}
    	<option value="{{university.title}}, {{university.city}}"></option>
    	{% endfor %}
    	
    </datalist>

    <button class='gender btn btn-secondary'>Kiz</button>
    <button class='gender btn btn-secondary'>Erkek</button>
</div>

<section id="features" class="container">
<div class="row">
<div class="col-md-6">
<img src="" alt="image example" width="" ="100%">
    
</div>
<div class="col-md-6">
<h2>Check out real comments</h2>
<p> Check the comments from real students. </p>
<button>Find out more!</button>
    
</div>

<div class="col-md-6">
<img src="" alt="image example" width="" ="100%">
    
</div>
<div class="col-md-6">
<h2>Compare different Apartments</h2>
<p> Select the apartments you are interested in to compare. </p>
<a href="#" class="btn btn-secondary"> Start </a>
<!-- <button onclick="#">Find out more!</button>
 -->    
</div>  
</div>

</section>

{% include 'footer.html' %}



{% endblock %}

<script type="text/javascript">
{% block script %}

$('.gender').click(function (){
	console.log('clicked');
	var university = $('input').val();
	if (university =='') {

	}
	else {
	var gender = $(this).text();
	window.location.href = "{% url 'list' %}?university="+university+'&gender='+gender;
	}
	//console.log(university)
	//console.log(gender)
})

{% endblock %}
</script>



