{% extends 'base.html' %}
{% load static i18n %}

<style type="text/css">
{% block style%}
    .subjectblock {
        background-color: #f1f1f1;
        height: 200px;      
    }

    .subjectblock:hover {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    }
    .sectionhearder {
        position: relative;
    }
    .showalllink {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    section {
        min-height: 40vh;
    }
{% endblock %}
</style>


{% block content %}

{% include 'topnavbar.html' %}

<div class="jumbotron text-center bg-info" id="jumbotron">
    <h1> {% trans 'Welcome' %}</h1>
</div>

<section id="learning" class="container">  
    <div class="sectionhearder">        
        <h2>Online Learning</h2>
        <a href="{% url 'learning:index' %}" class="showalllink">Show all</a>
    </div>
    <hr>
        
    <div class="row text-center">
        {% for subject in subjects %}
        <a href="{% url 'learning:videolist' subject.slug %}" class="col-lg-3 col-md-4 col-sm-6">
        <div style="height: 200px;" class="subjectblock m-2">
            <h3> {{subject.name}} </h3>
            <p>{{ subject.description }}</p>
            
        </div>
        </a>
        {% endfor %}
    </div>
    
</section>

<section id="living" class="container">
   <div class="sectionhearder">        
        <h2>Dorm renting</h2>
        <a href="{% url 'dormrent:index' %}" class="showalllink">Show all</a>
    </div>
    <hr>
    
</section>

<section id="activity" class="container">
   <div class="sectionhearder">        
        <h2>Activities</h2>
        <a href="{% url 'dormrent:index' %}" class="showalllink">Show all</a>
    </div>
    <hr>
    
</section>

<section id="food" class="container">
   <div class="sectionhearder">        
        <h2>Restraunt</h2>
        <a href="{% url 'dormrent:index' %}" class="showalllink">Show all</a>
    </div>
    <hr>
    
</section>

{% include 'footer.html' %}

{% endblock %}

<script type="text/javascript">
{% block script %}


{% endblock %}
</script>



