{% extends 'base.html' %}
{% load static extra %}

{% block content %}
{% include 'topnavbar.html' %}
{% universitysearchform %}
<div class="container">
	<h1>{{ roomtype.name }}</h1>
	<hr>
	<p>{{ roomtype.description }}</p>

	<dl class="row">
		<dt class="col-sm-3"> Room </dt>
		<dd class="col-sm-9"> {{roomtype.numberOfPeoplePerRoom}} people share </dd>
		<dt class="col-sm-3">Restroom</dt>
		<dd class="col-sm-3">{{roomtype.get_restroomtype_display}} </dd>

		<dd class="col-sm-6">{{roomtype.restroomnumber}} </dd>

		<dt class="col-sm-3">Shower</dt>
		<dd class="col-sm-3">{{roomtype.get_showertype_display }} </dd>
		<dd class="col-sm-6">{{roomtype.showernumber}}</dd>

		<dt class="col-sm-3">Kitchen</dt> 
		<dd class="col-sm-9">
		{{roomtype.get_kitchen_display }} </dd>

		<dt class="col-sm-3">Livingroom</dt> 
		<dd class="col-sm-9">
		{{roomtype.get_livingroom_display}}</dd>
	</dl>

	
</div>


{% endblock %}