{% extends 'base.html' %}

{% block content %}
{% include 'searchnavbar.html' %}

<div class="container">
<div class="row">
<h1>{{apart.title}} {% trans 'Images' %}</h1>
</div>
<div class="row">
<a  class="btn btn-secondary" href="{% url 'detail' apart.slug %}"> {% trans 'back' %} </a>
</div>
	

<form method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form.management_form}}
<div class="row">
	{% for f in form %}
	<div class="col-md-4 m-4">
		<img src="{{f.initial.image.url}}" width="100%">
		{{f}}
	</div>

	{% endfor %}
</div>
<button class="btn btn-secondary" type="submit"> {% trans 'Submit' %}</button>
	
</form>
</div>

{% endblock %}